<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Dubbing Artist Information</title>
<link rel="stylesheet" href="voice.css">
{% extends "templates/web.html" %}
</head>
<body>
{% block content %}
<div class="content">
<center><h2>Voice Bank</h2></center>
<div class="container">
{% for data in data_list %}
	<div class="artist">
        <img src={{data['profile_image']}} alt="Dubbing Artist" width="100" height="100">
        <div class="artist-info">
            <h2>Name: {{data['first_name']}} {{data['last_name']}}</h2>
            <p><span>Gender:</span> {{data['gender']}}</p>
            <p><span>Category:</span> {{data['category']}}</p>
            <p><span>Language:</span> {{data['language']}}</p>
	    <p><span>Slang:</span> {{data['slang']}}</p>
	    <div>
            <audio controls>
  	    <source src={{data['voice']}} type="audio/mpeg">
	    </audio>
	    </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
</body>
</html>
