    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }

    .container {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-wrap: wrap;
        gap: 10px;
    }

    h1 {
        color: #333;
        text-align: center;
        margin-bottom: 20px;
    }

    .artist {
        margin-bottom: 20px;
        padding: 10px;
        background-color: #ecf0f1;
        border-radius: 20px;
	max-width: 400px;
    }

    .artist img {
        float: left;
        margin-right: 10px;
        border-radius: 10%;
    }

    .artist-info {
        overflow: hidden;
    }

    .artist-info h2 {
        margin: 0;
        font-size: 18px;
    }

    .artist-info p {
        margin: 5px 0;
    }

    .artist-info span {
        font-weight: bold;
    }
    
    .audio-player {
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
    }

    /* Styling for the audio controls */
    audio {
        width: 100%;
        margin-top: 20px;
    }

    
