<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="voice.css">
<title>Dubbing Artist Information</title>
{% extends "templates/web.html" %}
</head>
<body>
<script>
frappe.ready(function() {
	$('.btn-more').on('click', function() {
		frappe.call({
			method: 'voicebank.www.voicebank.search',
			args: {
				query: '{{ query }}',
				category: '{{ category }}'
			},
			callback: function(r) {
				$(r.message.results).appendTo('.search-result');
				$('.btn-more').toggleClass('hidden', !!!r.message.has_more);
			}
		});
	});
});
</script>
{% block content %}
<center>
<h2>Search Voice Artist</h2>
		<form action="">
				<select name="category" id="category">
				<option value="language">Language</option>
				<option value="gender">Gender</option>
				<option value="slang">Slang</option>
				<select>
				<input name="query" class="search-input" type="text" value="{{ query or '' }}"placeholder="{{ _('Search...') }}">
				<button type="submit" class="btn btn-sm btn-primary btn-search"> {{ _('Search') }} </button>
			{% if frappe.form_dict.scope %}
				<input type="text" hidden name="scope" value="{{ frappe.utils.escape_html(frappe.form_dict.scope) }}">
			{% endif %}
		</form>
</center>
<div clas
s="search-result">
	{% include "voicebank/templates/includes/search_result.html" %}
</div>
{% endblock %}
</body>
</html>
