<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Dubbing Artist Information</title>
<link rel="stylesheet" href="voice.css">
<script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
<script>
frappe.ready(function() {
	$('.btn-more').on('click', function() {
		frappe.call({
			method: 'voicebank.www.searchvoice.search',
			args: {
				text: '{{ query }}',
				start: $('.search-result-item').length,
				as_html: 1
			},
			callback: function(r) {
				$(r.message.results).appendTo('.search-result');
				$('.btn-more').toggleClass('hidden', !!!r.message.has_more);
			}
		});
	});
});
</script>
{% extends "templates/web.html" %}
</head>
<body>
{% block content %}
<center>
	<h2>Search Voice Artist</h2>
<div>
	<form method="post">
	<select name="category" id="category">
	<option value="language">Language</option>
	<option value="gender">Gender</option>
	<select>
	<input type="text" name="query" id="query" placeholder="Search...">
	<button>Submit</button>
	</form>
</div>
<center>
<div class="content">
<center><h2>Voice Bank</h2></center>
<div class="container">
{% for data in data_list %}
	<div class="artist">
        <img src={{data['profile_image']}} alt="Dubbing Artist" width="100" height="100">
        <div class="artist-info">
            <h2>Name: {{data['first_name']}} {{data['last_name']}}</h2>
            <p><span>Gender:</span> {{data['gender']}}</p>
            <p><span>Category:</span> {{data['category']}}</p>
            <p><span>Language:</span> {{data['language']}}</p>
	    <p><span>Slang:</span> {{data['slang']}}</p>
	    <div>
            <audio controls>
  	    <source src={{data['voice']}} type="audio/mpeg">
	    </audio>
	    </div>
        </div>
    </div>
{% endfor %}
{% endblock %}
</div>
</body>
</html>
